<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <center>
        <br>
        <form action="/register" method="POST">
        <input type="text" for="Username" name="Username" placeholder="Username.." required>
        <input type="text" for="Email" name="Email" type="Email" placeholder="email.." required>
        <input type="text" for="Password" name="Password" required placeholder="pasword...">
        <button type="submit"> Join Now!</button>
        </form>
    </center>
</body>
</html>