<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="/changeKeyboard" method="POST">
        <input type="text" for="Keyboard" name="Keyboard" placeholder="<%= userKeyboard.Keyboard %>">
        <button type="submit">Change</button>
        </form>
        <br>
        <form action="/changeHeadset" method="POST">
        <input type="text" for="Headset" name="Headset" placeholder="<%= userHeadset.Headset %>">
        <button type="Submit">Change</button>
        </form>
    </center>
</body>
</html>