@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


* {
    font-family: 'Inter', sans-serif;  
}

.card {
    border:none;
    border-radius:15px !important;
}
.card {
    display: inline-block;
    margin:0.5rem;
}

.marginDown {
    margin-top:0.45rem;
}

h2{ 
    font-weight:bolder;
    color:#FFFFFF;
}
.card-title {
    font-size:1.75rem;
}

.changeKb {
    border:none;
    background-color:transparent;
    text-align: center;
    color:white;
}
.changeKb:active {
    border: none;
    background-color:none;
}
.changeKb::after {
    border:none;
    border-radius: 0px;
    background-color: none;
}

.card {
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
body {
    background-color:#17181A;
}